#wrap {
	/*
	background-color:#DFECFF;*/
	background-color:#eee;
}
.acct {
	position:relative;
	min-width:810px;
	margin-top:30px;
	
}
.acct.contact .list-group {
	width:170px;
	float:left;
	

}

.acct .info-wrp {
	position:relative;
	float:left;
	min-width:500px;
	min-height:680px;
	margin-left:40px;
	
	/*
	overflow:hidden;
	*/

}

.acct.contact .info {
	position:absolute;
	top:0;
	left:0;
	background-color:#fff;
	z-index:1;
	width:465px;

}

.acct .info .col1  {
	width:130px;
	padding-right:10px;
}
.acct .info .col1 label  {
	color:#999; important!
}
.list-group .list-group-item {
	border:0;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	white-space:nowrap;
	padding-right:0px;
}

		
			
.acct .info .col2  {
	width:345px;
}
.acct .info .col2 .btn {
	margin-top:15px;
}

.acct .info.readonly input {
	border:1px solid #fff;
	background-color:#fff;
	box-shadow:none;
}
.acct input.readonly  {
	border:1px solid #fff;
	background-color:#fff;
	box-shadow:none;
}
.acct .info .form-control {
	font-size:14px;
	height:30px;
	display:block;
}
.acct .info td  {
	font-size:16px;
	font-weight:normal;
	line-height:20px;
	padding-bottom:10px;
	white-space:nowrap;
}
.acct .info .sep  {
	margin:15px 10px 10px 0;
	border:0;
	border-top:1px solid #999;
	width:100%;
}
.acct label {
	font-size:14px;
	font-weight:normal;
	min-width:115px;
	white-space:nowrap;
	color:#666;
	float:left;
}
.acct .info hr {
	display:inline-block;
	height:1px;
    border:0;
    border-bottom:1px dotted #ccc;
    margin:0;
    padding:0;
    position:relative;
    width:300px;
}

.acct.contact .edit.info {
	z-index:2;
	left:500px;
	display:none;
}
.acct.contact .edit.email {
	z-index:2;
	left:500px;
	display:none;
}

.sub-cncl {
	margin:15px 0 0 0;
}







