

html, body {
   margin:0;
   padding:0;
   height:100%;
   font-family:helvetica, arial, san-serif;
   background-color:#fff;
}


#wrap {
   min-height:100%;
   position:relative;
   background-color:#fff;
}
#header {
	width:100%;
	height:35px;
	background-color:#999;
	position:relative;
}
#body {
	padding-bottom:80px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#000;
}

#wrap a {
	text-decoration:none;
}
#wrap .inline {
	display:inline-block;
}
#wrap .clr {
	clear:both;
}
#wrap label {
	font-weight:normal;
}

.hdr {
	position:relative;
	min-width:500px;
	max-width:840px;
	margin:0 auto;
	padding-left:30px;
}
.hdr a {
	text-decoration:none;
	font-size:14px;
	color:#fff;
	display:inline-block;
}
.hdr .topnav  {
	float:left;
}

.hdr .topnav a {
	margin:0;
	padding:7px 30px;
	border-left:1px solid #aaa;
}
.hdr .ctls {
	position:absolute;
	right:0;
	top:3px;
}
.ctls .lang {
	float:right;
	margin:3px 15px 0 0;
	color:#333;
	font-size:12px;
}
.ctls .sign-in {
	float:right;
	font-size:12px;
}
.ctls .sign-in i {
	margin:0 7px 0 0;
	color:#ccc;
	font-style: normal;

}
.ctls .sign-in a {
	padding:7px 5px;
	font-size:12px;
}
.ctls.sign-in .join {
	background-color:#ccc;
	padding:2px 15px;
	border-radius:3px;
	color:#333;
}
.ctls .user {
	float:right;
	padding:7px 5px;
	position:relative;
}
.ctls .user a {
	font-size:12px;
}
.ctls .user .arw {
	width:15px;
	height:8px;
	display:inline-block;
	background:url('../img/icons.png') no-repeat -40px 0; 
}
.ctls .user .dropdown-menu {

	
}


.ctls .srch {
	float:right;
	margin-right:20px;
	
}
.ctls .srch input {
	width:250px;
	font-size:14px;
}

.ctls .srch button {
	width:23px;
	height:20px;
	background:url('../img/icons.png') no-repeat -19px 0;
	border:0;
	position:relative;
	top:6px;
	cursor:pointer;
}



.main {
	max-width:840px;
	min-height:400px;
	margin:0 auto;
	padding-left:30px;
}
.main .ttl {
	padding:0;
	margin:0 0 40px 0;
	font-weight:normal;
	font-size:26px;
	color:#FF8C19
}


.ftr {
	max-width:840px;
	margin:15px auto;
	position:relative;
	padding-left:30px;
}
.ftr a {
	color:#ccc;
	font-size:12px;
	padding:5px 3px;
	margin-right:40px;
}

.bx-rnd-shdw {
	border:1px solid #ccc;
	background-color:#fff;
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.20);
	box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.20);
	padding:20px 40px 45px 40px;
}

.err label {
	color:red !important;
}
.err input {
	border:1px solid red;
}
.err .err-msg {
	display:block;
	visibility:visible;
	/**
	background-color:#FFF391;
	color:#000;**/
	color:red;
	font-size:13px;
	white-space:nowrap;
	padding:2px 5px;
}

/**
.err-icn {
	display:inline;
	padding-top:1px;
	padding-left:17px;
	margin-right:5px;
	background:url('/listing-tool/img/icons.png') no-repeat 0 0;
}
**/

.list-group .curr {
	background-color:#eee;
}

/**********************
Buttons
***********************/
.btn {
	border:1px solid #2865ba;
	background: #3081d3;
	color: white;
	font-size:14px;
	font-weight:normal;
	padding: 4px 20px;
	cursor: pointer;
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background: #7da4db; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYTRkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjZlZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7da4db 0%, #1f6edd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7da4db), color-stop(100%,#1f6edd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7da4db 0%,#1f6edd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7da4db 0%,#1f6edd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7da4db 0%,#1f6edd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7da4db 0%,#1f6edd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7da4db', endColorstr='#1f6edd',GradientType=0 ); /* IE6-8 */
}
.btn.lg {
	font-size:16px;
	padding: 8px 30px;
	width:150px;
}

/** Submit button and Cancel link set **/
.sub-cncl .cncl.lg {
	position:relative;
	top:3px;
	margin-left:20px;
	display:inline-block;
}



			


