/**************************************
Layout
***************************************/
html, body, #wrap {
	height: 100%;
	margin: 0;
	padding: 0;
}
body > #wrap {
	height: auto;
	min-height: 100%;
}
body {
	font-family: helvetica, arial, san-serif;
	/**
   	background-color: #e5e5e5 !important;**/
}
#header {
	height: 45px;
	background-color: #4274b9;
}
#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 100px;
	margin-top: -100px;
	/*
	background: #606a78;*/
	background-color: #333;
}
#content {
	padding-bottom: 100px;
}
.main {
	margin: 10px auto 15px auto;
	min-height: 600px;
	max-width: 1024px;
	background-color:#fff;
	border-left:1px solid #ccc;
	/*
	-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.20);
	box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.20);*/
}
.main td {
	vertical-align: top;
}
.main .c1 {
	min-width: 200px;
	padding: 15px 20px;
}
.main .c2 {
	padding: 10px;
}
.main .cell-pad {
	visibility: hidden;
}

/**************************************
Content
***************************************/
.ttl {
	padding:0;
	margin:0 0 30px 0;
	font-weight:normal;
	font-size:26px;
	color:#FF8C19
}
.pg-msg {
	min-height:50px;
	border:1px solid #fff;
}
.pg-msg .alert {
	margin-bottom:0;
}
a {
	text-decoration:none;
}
label {
	font-weight:normal;
}
.inline {
	display:inline-block;
}
.clr {
	clear:both;
}
.main .c1 .list-group .list-group-item {
	border:0;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	white-space:nowrap;
	padding-right:0px;
}
/**************************************
Page Header
***************************************/
.hdr {
	position:relative;
	min-width:500px;
	max-width:1024px;
	margin:0 auto;
	padding-left:30px;
}
.hdr a {
	text-decoration:none;
	font-size:14px;
	color:#a8c0e0;
	display:inline-block;
}
.hdr a:hover {
	color:#fff;
}
.hdr .topnav  {
	float:left;
}
.hdr .topnav a {
	margin:0;
	padding:12px 30px;
}
.hdr .topnav .curr {
	/*
	background-color:#26599e;*/
	color:#fff;
}

.hdr .ctls {
	position:absolute;
	right:0;
	top:6px;
}
.hdr .ctls .lang {
	float:right;
	margin:5px 15px 0 0;
	color:#333;
	font-size:12px;
}
.hdr .ctls .lang .lbl {
	color:#ccc;
}
.hdr .ctls .lang .arw {
	width:15px;
	height:8px;
	display:inline-block;
	background:url('../img/icons.png') no-repeat -40px 0; 
}
#languageMenu {
	max-height:400px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.hdr .ctls .sign-in {
	float:right;
	font-size:12px;
}
.hdr .ctls .sign-in i {
	margin:0 7px 0 0;
	color:#ccc;
	font-style: normal;
}
.hdr .ctls .sign-in a {
	padding:7px 5px;
	font-size:12px;
}
.hdr .ctls.sign-in .join {
	background-color:#ccc;
	padding:2px 15px;
	border-radius:3px;
	color:#333;
}
.hdr .ctls .user {
	float:right;
	padding:7px 5px;
	position:relative;
}
.hdr .ctls .user a {
	font-size:12px;
}
.hdr .ctls .user .arw {
	width:15px;
	height:8px;
	display:inline-block;
	background:url('../img/icons.png') no-repeat -40px 0; 
}
.hdr .ctls .srch {
	float:right;
	margin-right:20px;
	margin-top:3px;
}
.hdr .ctls .srch input {
	width:175px;
	font-size:14px;
	background-color:#6d93c6;
	border:0;
	color:#fff;
	padding-left:5px;
}

.hdr .ctls .srch button {
	width:23px;
	height:20px;
	background:url('../img/icons.png') no-repeat -19px 0;
	border:0;
	position:relative;
	top:6px;
	cursor:pointer;
}

/**************************************
Page Footer
***************************************/
.ftr {
	min-width:500px;
	max-width:1024px;
	margin:15px auto;
	position:relative;
	padding-left:30px;
}
.ftr a {
	color:#ccc;
	font-size:12px;
	padding:5px 3px;
	margin-right:40px;
}

.bx-rnd-shdw {
	border:1px solid #ccc;
	background-color:#fff;
	-webkit-box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    1px 1px 10px rgba(50, 50, 50, 0.20);
	box-shadow:         1px 1px 10px rgba(50, 50, 50, 0.20);
	padding:20px 40px 45px 40px;
}


/**
.err-icn {
	display:inline;
	padding-top:1px;
	padding-left:17px;
	margin-right:5px;
	background:url('/listing-tool/img/icons.png') no-repeat 0 0;
}
**/

.list-group .curr {
	background-color:#eee;
}

.btn.btn-primary.grn {
	background-color:#5eb161;
	border:1px solid #5eb161;
	font-size:17px;
	padding-left:50px;
	padding-right:50px;
}
.btn.btn-primary.grn:hover {
	background-color:#529b55;
}




/** Submit button and Cancel link set **/
.sub-cncl .cncl.lg {
	position:relative;
	top:3px;
	margin-left:20px;
	display:inline-block;
}



			


