#wrap {
	background:url('../img/sf-cityscape.jpg') no-repeat -1100px -100px fixed;
	
	/*
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}


.reg {
	position:relative;
	width:400px;
	margin-top:50px;
	padding-right:40px;
	
}
.reg.main {
	min-height:200px;
}
.reg form > div {
	margin-bottom:10px;
}
.reg .opt {
	width:400px;
	border-top:1px solid #999;
	padding-top:5px;
	margin:20px 0 10px 0;
	font-size:14px;
	color:#888;
}
.reg .opt > div {
	margin-bottom:10px;
}
.reg .opt input {
	height:30px;
}

.reg .w-half {
	width:198px;
}
.reg .w-1quarter {
	width:99px;
}
.reg .w-3quarter {
	width:297px;
}

.reg .submit {
	margin-top:15px;
}
.reg .submit .btn {
	margin-top:15px;
}




.reg .remember {
	color:#666;
}
.reg .forgot {
	display:inline-block;
	position:relative;
	top:10px;
	margin-left:20px;
}


.reg-cfm {
	position:relative;
	width:400px;
	min-height:180px;
	top:50px;
}
.ref-cfm .msg {
	margin:0;
	font-size:16px;
}







