<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Vendertool Web Services Application</display-name>
	<servlet>
		<servlet-name>VendertoolServices</servlet-name>
		<!-- <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> -->
		<!-- <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class> -->
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

		<!-- <init-param> <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name> 
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value> 
			</init-param> <init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
			<param-value>com.vendertool;org.codehaus.jackson.jaxrs</param-value> </init-param> -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.vendertool;com.fasterxml.jackson.jaxrs;com.vendertool.fps.fileupload</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>VendertoolServices</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root.one</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/application-context.xml 
			/WEB-INF/spring-security.xml
			/WEB-INF/dal-module.xml
			classpath:security\security-credentials.xml
		</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.vendertool.webservicesapp.common.VendertoolWebserviceAppInitializationListener</listener-class>
	</listener>

	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>localizationFilter</filter-name>
        <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>localizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	
	<filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
     
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
