<html>
<body>
<div>Hi ${user.toName},</div> 
<br/>
<div>Welcome to the vender tool registrations!</div>

<div>
<br/>	
   Your email address is <a href="mailto:${user.toEmail}">${user.toEmail}</a>. <br/>
   <br/>
   Your registration confirmation code is : ${user.confirmationCode}
   <br/>
</div>
<br/>
<br/>
<div>Thanks,</div>
${user.fromName}
</body>
</html>