.fup {
	postion:static;
	width:500px;
	height:500px;
	border:1px solid red;
}
.fup .form-wrp {
	position:relative;
	width:152px;
	height:45px;
	overflow:hidden;
	border:1px solid red;
}
.fup-inp-main {
	position:relative;
	height:100px;
	width: 100%; /* Required for IE 5, 6, 7 */
	filter: alpha(opacity=0); /** IE **/
	opacity: 0.0;
}
.fup .upload-btn {
	position:absolute;
	top:0;
	width:150px;
}
.fup .ftable {
	width:100%;
}
.fup .ftable th {
	font-weight:normal;
	background-color:#eee;
}
.fup .ftable th, .fup .ftable td {
	border:1px solid #ccc;
	padding:2px 5px;
}
.fup .ftable .c1{
	width:80%;
}
.fup .ftable .c2{
	width:20%;
}
