/*************************************
Section nav bar
**********************************
.sec.navbar {
	background-color:transparent;
	border:0;
}
.sec .navbar-nav>li>a {
	padding:5px 20px;
	border-right:1px solid #ccc;
}
.sec .navbar-nav>li:last-child> a {
	border-right:0;
}
.sec .navbar-nav>li.active a {
	color:#000;
}

****/

