<html>
<body>
<div>Hi ${emailData.toEmail},</div> 
<br/><br/>
<div>
	<p>
		Thank you for registering with VenderTool, you are one step away from completing the registration process. 
		Please follow the instructions below. <br/>
	</p>
</div>

<div>
	<br/> <h2>Instructions for completing your registration</h2> <br/>
   	
   	Please click on this link to confirm your registration. If the link doesn't work try to 
   		copy the entire URL & paste it on to your browser's address bar & hit enter : <br/> 
   		${emailData.confirmationUrl}
   	<br/><br/>
</div>


<div>
	Thank You,<br/>
	${emailData.fromName}
</div>

</body>
</html>
