.fup {
	postion:static;
	width:100%;
	padding:20px;
}
.fup .fup-inp-wrp {
	position:relative;
	width:152px;
	height:45px;
	overflow:hidden;
	
	display:inline-block;
}
.fup-inp-main {
	position:relative;
	left:-100px;
	height:100px;
	width: 235px;
	width: 100%\9;;  /* Required for IE 5, 6, 7 */
	filter: alpha(opacity=0); /** IE **/
	opacity: 0.0;
	cursor:pointer;
}
.fup .upload-btn {
	position:absolute;
	top:0;
	width:130px;
	background-color:#a9cbaa;
	overflow:hidden;
	border:0;
	color:#333;
	cursor:pointer;
}
.fup .upload-btn span {
	display:inline-block;
	font-size:16px;
	margin-left:25px;
}
.fup .upload-btn .plus {
	position:absolute;
	width:35px;
	height:38px;
	display:inline-block;
	left:0;
	background:url('../../img/icons.png') no-repeat -54px 6px #2bbc2e;
	top:0;
}


.fup .ftable {
	background-color:#fff;
	width:100%;
}
.fup .ftable th {
	font-weight:normal;
	background-color:#ccc;
}
.fup .ftable th, .fup .ftable td {
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:2px 5px;
}
.fup .ftable th:last-child, .fup .ftable td:last-child {
	border-right:0;
}

.fup .ftable .c1{
	width:70%;
}
.fup .ftable .c2{
	width:15%;
}
.fup .ftable .c3{
	width:15%;
}
.fup .disabled {
	color:#ccc;
}
.fup .disabledAddBtn {
	position:absolute;
	z-index:100;
	height:100%;
	width:100%;
	background-color:#eee;
	filter: alpha(opacity=10); /** IE **/
	opacity:.40;
}
.fup .size {
	color:#999;
	font-size:10px;
}
.fup .fup-footer {
	width:100%;
	text-align:right;
}




